.container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-level {
  padding-left: 5px;
  font-size: 1.9rem;
}

.series-level {
  padding-left: 4px;
  font-size: 1.5rem;
}

.fontawe-icon-exercise {
  font-size: 1.9rem;
}

.fontawe-icon-exercise:hover {
  font-size: 2rem;
}

.fontawe-icon-series {
  font-size: 1.4rem;
}

.fontawe-icon-series:hover {
  font-size: 1.5rem;
}

.fontawe-icon:hover {
  cursor: pointer;
  color: #c29c35;
}

.btn-block {
    min-width: 200px;
}
