form {
  margin: 0px 15px;
}

input.form-control {
  background-color: #636b7b;
  color: #fff;
  border: 1px solid #636b7b;
}

.descriptive-label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

label:not(.text-danger) {
  color: #545d6a;
  font-weight: 700;
}
