.home-flexWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.wrapped-shadowBox {
  border-radius: 10px 10px 10px 10px;
  background: #2e3137;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

/* Tabs */
.tab-header {
  text-align: center;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}
