<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group required">
        <label class="descriptive-label">Nick</label>
        <input class="form-control" formControlName="Nick">
        <label class="text-danger" *ngIf="Nick?.touched && Nick?.errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group required">
        <label class="descriptive-label">Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="Email?.touched && Email?.errors?.email">Invalid email
            address.</label>
        <label class="text-danger" *ngIf="Email?.touched && Email?.errors?.required">This field
            is mandatory.</label>
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label class="descriptive-label">Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="Password?.touched && Password?.errors?.required">This
                field is mandatory.</label>
            <label class="text-danger" *ngIf="Password?.touched && Password?.errors?.minlength">Minimum
                length is {{Password?.errors?.minlength.requiredLength}}.</label>
        </div>
        <div class="form-group required">
            <label class="descriptive-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="ConfirmPassword?.touched && ConfirmPassword?.errors?.required">This
                field is mandatory.</label>
            <label class="text-danger" *ngIf="ConfirmPassword?.dirty && Passwords?.errors?.passwordMismatch">
                {{Passwords?.errors?.passwordMismatch}}</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block"
                [disabled]="!registerForm.valid || this.RegistrationInProgress">
                <span *ngIf="this.RegistrationInProgress" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                Sign Up
            </button>
        </div>
    </div>
</form>
