tbody tr th,
tbody tr td {
  vertical-align: middle;
}

.wrapped-container {
  max-width: 500px;
}

.manage-colum {
  width: 5%;
}

.fontawe-icon {
  font-size: 1.3rem;
}

.fontawe-icon:hover {
  font-size: 1.53rem;
  cursor: pointer;
}

.fa-plus-circle{
  padding: 8px;
}

.fa-plus-circle:hover {
  color: #c29c35;
}

.fa-edit:hover {
  color: #0069d9;
}

.fa-trash-alt:hover {
  color: red;
}

.cell-justifier {
  display: flex;
  justify-content: space-around;
  width: 70px;
}
