<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand text-white"><strong>Gymzzy</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsableContent"
        aria-controls="navbarCollapsableContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsableContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <button class="btn btn-danger my-2 my-sm-0" (ngClick)="onLogout()">Logout</button>
    </div>
</nav>
