body {
  margin: 0;

  font-family: "Avenir Next", "Avenir", sans-serif;
  background-color: #272425;
  color: white;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-body {
  flex: 1 0 auto;
}

.btn:disabled {
  cursor: default;
}

button[type="submit"].btn {
  border-radius: 25px;
  background-color: #c29c35;
  color: #fff;
  border: none;
}

input.form-control:focus {
  box-shadow: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid #fd0000;
}

label.text-danger {
  text-transform: none;
  font-size: 0.8rem;
}
